* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url(images/bg-intro-desktop.png) hsl(0, 100%, 74%);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

main {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

main div {
    width: 50%;
    margin: auto;
}

.regForm {
    width: 50rem;
    display: flex;
    justify-content: space-around;
}

.colOne {
    color: white;
    margin-right: 3em;
}

h1 {
    font-size: 2.5rem;
}

h3 {
    border-radius: 0.5em;
    font-size: xx-small;
    background-color: hsl(251, 80%, 60%);
    padding: 10px 5px;
    margin-bottom: 1em;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.colTwo {
    color: white;
}

form {
    background: white;
    padding: 20px;
    border-radius: 00.5em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

input {
    width: 100%;
    margin-bottom: 1em;
    padding: 10px 10px;
}

input:hover {
    border: 2px solid hsl(251, 80%, 60%);
}

button {
    width: 100%;
    background-color: hsl(154, 59%, 51%);
    border: none;
    border-radius: 0.5em;
    color: white;
    padding: 1em;
}

.tandA {
    color: gainsboro;
    padding-top: 3px;
    font-size: 8px;
    text-align: center;
}

span {
    color: red;
    padding-top: 3px;
    font-size: 8px;
}

@media (max-width:768px) {

    main div {
        width: 100%;
        padding: 2em;
    }

    .regForm {
        flex-direction: column;
        margin: auto;
        width: 100%;
    }

    .colOne {
        width: 75%;
        margin: 2rem auto;
        text-align: center;
    }

    .colTwo {
        width: 75%;
        padding: 0;
    }
}

